*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.popup {
    background-color: #ffffff;
    width: 450px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    display: none;
    text-align: center;
}

.popup button {
    display: block;
    margin: 0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #c5c5c5;
    border: none;
    outline: none;
    cursor: pointer;
}

.popup p {
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
}

aa {
    display: block;
    width: 150px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color: #0f72e5;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 0;
}


/*-------
new head
-------*/

.header {
    height: auto;
}

.header img {
    float: left;
    width: 100px;
    height: 100px;

}

.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

#headright {
    float: right;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    word-spacing: 20px;
    margin-left: 20px;
}

#btnthree{
    margin: 3px;
}

/* logo div */

.symbol-container {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    
    
  }
  
  .symbol {
    width: calc(100% / 12);
    text-align: center;
    height: 100px;
    width: 100px;
  }
  
  #imggg{
    height: 100px;
    width: 100px;
    padding: 10px;
    margin-left: 65px;
    
  }
  
  @media only screen and (max-width: 600px) {
    .symbol {
      width: calc(100% / 4);
    }
  }


  #soc{
    color: white;
    letter-spacing: 15px;
  }
  

  /* box */

  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .box {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  @media (min-width: 768px) {
    .box {
      width: calc(50% - 20px);
      margin-right: 20px;
    }
  
    .box:last-child {
      margin-right: 0;
    }
  }
  
  @media (min-width: 992px) {
    .box {
      width: calc(25% - 20px);
      margin-right: 20px;
    }
  
    .box:last-child {
      margin-right: 0;
    }
  }
  
  h1 {
    font-size: 24px;
    margin-top: 0;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
  }
  

  footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;

    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}


